.wrapper {
    width: calc(100% - 410px);
    padding-top: 1.9rem;
}

.button {
    padding: 0.5rem 1.875rem;
    align-items: center;

    border-radius: 3px;
    background-color: var(--blue-background);
    border: 0;

    color: #FFF;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.5rem;

    display: block;
    cursor: pointer;
}

.link {
    margin-bottom: 2rem;
    height: 2.5rem;
    width: 9.75rem;
}

.main {
    width: 60.5%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.itemImg {
    border: 1px solid #D5D5D5;
}

.description {
    color: #000;

    margin-bottom: 0.3rem;

    font-size: 1.5rem;
    font-family: Roboto;
    font-weight: 700;
}

.model_number {
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
}


@media screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
    }
}