.main {
    margin-top: 1.9rem;
    margin-left: 10vw;

    .button {
        height: 2.5rem;
        padding: 0.5rem 1.875rem;
        margin-bottom: 2rem;
        align-items: center;

        border-radius: 3px;
        background-color: var(--blue-background);
        border: 0;

        color: #FFF;
        text-align: center;
        font-size: 0.875rem;
        line-height: 1.5rem;

        cursor: pointer;
    }
}