.itemImg {
    border: 1px solid #D5D5D5;
    width: 60.25%;
}

.description {
    color: #000;

    margin-bottom: 0.3rem;

    font-size: 1.5rem;
    font-family: Roboto;
    font-weight: 700;
}

.model_number {
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
}


@media screen and (max-width: 1200px) {
    .main {
        
    }
}