.main {
    margin: 2.5rem 3.4rem auto 2.5rem;

    .string {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        font-size: 0.875rem;
        line-height: 2.125rem;
    }

    .bold {
        font-weight: bold;
    }
}